.mixin.out/
armourers_workshop/
asm/
assets/
backups/
crash-reports/
fonts/
llibrary/
logs/
moreplayermodels/
patchouli_books/
saves/
tmp/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
patchouli_data.json
usercache.json
usernamecache.json