.mixin.out/
armourers_workshop/
asm/
assets/
backups/
crash-reports/
fonts/
llibrary/
logs/
moreplayermodels/
patchouli_books/
saves/
tmp/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
saves/
screenshots/
patchouli_data.json
usercache.json
servers.dat
usernamecache.json
/modernfix
/Distant_Horizons_server_data
/xaero
