/mods/1.12.2
/mods/memory_repo
/mods/OpenTerrainGenerator
/.mixin.out
/asm
/backups
/crash-reports
/fonts
/llibrary
/logs
/moreplayermodels
/patchouli_books
/resourcepacks
/saves
/screenshots
/shaderpacks
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
patchouli_data.json
usercache.json
usernamecache.json
optionsshaders.txt
imgui.ini